

/* Mapa D.O. en vinos tintos*/
.container-do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mapa-do{
    width: 900px;
    position: relative;
}
#mapa-do > img {
    position: relative;
    width: 900px;
}
#mapa-do:hover ul.cuadro li {
    display: block;
}
ul.cuadro li {
    list-style: none;
    display: none;
    position: absolute;
    border: medium solid rgb(102, 47, 47);
    /*background: url("esta_imagen_no_existe");*/
}
ul.cuadro li p {
    margin: 10px 0 0 0;
    padding: 0.3em;
    display: none;
    background: rgb(165, 86, 86);
    opacity: 0.85;
    position: absolute;
    top: 100%;
}
ul.cuadro li:hover p {
    display: block;
}
ul.cuadro li.nota1 {
    width: 140px;
    height: 110px;
    top: 700px;
    left: 480px;
}
ul.cuadro li.nota2 {
    width: 80px;
    height: 50px;
    top: 545px;
    left: 550px;
}
ul.cuadro li.nota3 {
    width: 90px;
    height: 50px;
    top: 580px;
    left: 480px;
}
ul.cuadro li.nota4 {
    width: 30px;
    height: 30px;
    top: 600px;
    left: 740px;
}
ul.cuadro li.nota5 {
    width: 40px;
    height: 35px;
    top: 560px;
    left: 680px;
}
.nota1:hover p {
    display: block;
    height: 50px;
    width: 140px;
    top: -10px;
    left: 150px;
}

.nota2:hover p {
    display: block;
    height: 30px;
    width: 130px;
    top: -10px;
    left: 85px;
}
.nota3:hover p {
    display: block;
    height: 80px;
    width: 100px;
    top: -10px;
    left: -120px;
}
.nota4:hover p {
    display: block;
    height: 80px;
    width: 100px;
    top: -10px;
    left: 35px;
}
.nota5:hover p {
    display: block;
    height: 80px;
    width: 120px;
    top: -110px;
    left: 20px;
}
.cuadro > li > p {
    color: rgb(255, 255, 255);
}


/* FIN mapa D.O. en tintos*/