.menu {
    position: relative;
    display: inline-block;
}
#toggle{
    display: none;
}
.toggle-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23px;
    height: 18px;
    position: relative;
    z-index: 1;
    border: 0.8px solid #c3c1c1;
    border-radius: 10px;
    padding:10px 15px;
}

.bar {
    background-color: #9f9f9f;
    height: 1.5px;
    width: 100%;

}

.menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 20px 0;
    width: 120px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.menu-items li a:hover {
    background-color: #f0f0f0;
}

#toggle:checked + .toggle-btn  {
    border: 4px solid #8e8b8b;
    /*
    transform: translateY(10px) rotate(45deg);
    */
}
/*
#toggle:checked + .toggle-btn .bar:nth-child(2) {
    opacity: 0;
}

#toggle:checked + .toggle-btn .bar:nth-child(3) {
    /*transform: translateY(-6px) rotate(-45deg); 
}
*/
#toggle:checked ~ .menu-items {
    opacity: 1;
    pointer-events: auto;
}
