:root {
    /* variables colores para el uso en la web*/
    --color-negro-fondo: #212529;
    --color-blanco-texto: #F8F9FA;
    --color-gris-texto: #737373
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: lighter;
}

/* NAVEGACION */
.nav {
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 13px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.nav-list>li>a {
    font-size: 15px;
    text-decoration: none;
    padding: 8px;
}

.nav>ul>li {
    display: inline;
}

/* FIN NAVEGACION */

/*  FOOTER   */
footer {
    padding-top: 80px;
    padding: 20px;
    background-color: #212529;
    color: var(--color-blanco-texto);
    text-align: center;

}

/* FIN  FOOTER   */
.color-gris {
    color: var(--color-gris-texto);
}

.color-negro {
    color: var(--color-negro-fondo);
}

.text-center{
    text-align: center;
}
.center{
    margin: 0px auto;
}


/* mapa de vinos*/
.mapa-div{
    position: relative ;
    margin-left: 10px;
}
label {
    position: absolute;
    display: none;
    text-align: center;
    font-size: large;
    background-color: azure;
    width: fit-content;
    height: fit-content;
    top: 0px;
    left: 0px;
    padding: 5px;
}

.map-vino-fino:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 30px;
}
.map-vino-amonillado:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 100px;
}
.map-vino-oloroso:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 300px;
}
.map-vino-palo-cortado:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 460px;
}
.map-vino-pale-cream:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 570px;
}
.map-vino-medium:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 20px;
}
.map-vino-cream:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 130px;
}
.map-vino-pedro-ximenez:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 290px;
}
.map-vino-moscatel:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 450px;
}
.map-vino-manzanilla:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 620px;
}

/*  FIN mapa de vinos*/