:root {
    /* variables colores para el uso en la web*/
    --color-negro-fondo: #212529;
    --color-gris-fondo: #6c757d;
    --color-negro-texto: #212529;
    --color-blanco-texto: #F8F9FA;
    --color-gris-texto: #737373;
    --color-azul-fondo: #cfe2ff;
    --boton-verde: #198754;
    --boton-azul: #0d6efd;
    --bonton-verde-activo: #157347;
    --bonton-azul-activo: #0b5ed7;
    --color-azul-textoEnlace: #0d6efd;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: lighter;
    font-size: 4em;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}
h4{
    font-size: 2em;
}

/*  migas de pan  */
.container {
    margin-left: 0px;
    font-weight: lighter;
    font-size: 1rem;
}

@media (max-width:800px) {
    .container {
        display: none;
    }

}

ol.migas {
    display: flex;
    list-style-type: none;
    margin-left: 12px;
    padding-left: 0px;
    color: var(--color-gris-texto);
}

ol.migas>li::after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
}

ol.migas>li:last-child::after {
    content: "";
}

ol.migas>li>a {
    color: var(--color-azul-textoEnlace);
}



/* NAVEGACION */
/* estilos especificos para pantallas mayores a 801px */
@media (min-width:801px) {
    .nav {
        height: 65px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 13px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }

    .nav-list>li>a {
        font-size: 15px;
        text-decoration: none;
        padding: 8px;
    }

    .nav>ul>li {
        display: inline;
    }

    /* ocultamos menu sandwitch  */
    #toggle {
        display: none;
    }

    .bar {
        display: none;
    }
}

/* estilos especificos para menos a 800px de pantalla*/
@media (max-width:800px) {
    .nav {
        margin-left: 12px;
        margin-top: 13px;
    }

    #toggle {
        display: none;
    }

    .toggle-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23px;
        height: 18px;
        position: relative;
        border: 0.8px solid var(--color-gris-fondo);
        border-radius: 10px;
        transition: border 0.3s ease;

        padding: 10px 15px;
        margin-right: 12px;
        margin-top: 12px;
        float: right;
    }

    .bar {
        background-color: var(--color-gris-fondo);
        height: 1.5px;
        width: 100%;
    }

    #toggle:checked+.toggle-btn {
        border: 4px solid var(--color-gris-fondo);
        margin-right: 9px;
        margin-top: 9px;
    }

    .nav-list {
        max-height: 0;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
        margin: 0;
        transition: max-height 0.5s ease-in-out;
    }

    .nav-list li {
        padding: 8px 0px;
    }

    .nav-list li a {
        text-decoration: none;
        color: var(--color-gris-texto);
        transition: color 0.5s ease;
        font-weight: lighter;
    }

    .nav-list li a:hover {
        color: var(--color-negro-texto);
    }

    .nav-list li:first-child a {
        color: var(--color-negro-texto);
    }

    #toggle:checked~.nav-list {
        max-height: 230px;

    }

}

/* FIN NAVEGACION */

/*  lista indice  */
.container-indice {
    width: 380px;
    text-align: center;
    margin: 0 auto;
}

.lista-indice-ul {
    list-style-type: none;
    margin-top: 40px;
}

.lista-indice {
    text-decoration: none;
    color: var(--color-gris-texto);
}

.lista-indice-ul>li {
    padding: 10px 0px;
    border-bottom: 1px solid black;
}


.container-center {
    margin: 0 auto;
}

.lista-indice-ul>li:hover {
    background-color: var(--color-azul-fondo);
    /*
    background-color: rgb(226, 226, 226);*/
}

/*   generales    */
.container-general {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 10px;
}

.text-justify {
    text-align: justify;
}

.container-grande {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    padding-bottom: 30px;
}

.container-texto-70 {
    width: 70%;
    margin: 0 auto;
}

.margin-superior {
    padding: 40px;

}

.fondo-gris {
    background-color: #6c757d;
}
.centrar{
    text-align: center;
    margin-bottom: 40px;
}
.boton-saber {
    padding: 13px 25px;
    
    color: var(--color-blanco-texto);
    text-decoration: none;
    background-color: var(--boton-verde);
    border-radius: 10px;
    transition: background-color .5s;
}

.boton-saber:hover {
    background-color: var(--bonton-verde-activo);
}


.imagen-velo {
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
}




/*    desplegables       */

.container-preguntas {
    width: 70%;
    max-width: 600px;
    height: max-content;
    margin: 40px auto;
    text-align: center;
}

.collapse {
    display: none;
    border: 1px solid var(--color-gris-texto);
    padding: 20px 15px;
    border-radius: 10px;
    background-color: var(--color-azul-fondo);
}


.container-preguntas input {
    display: none;
}

.pregunta:first {
    margin-right: 30px;
}

.pregunta {
    background-color: var(--boton-azul);
    padding: 10px 20px;

    width: max-content;
    display: inline;
    border-radius: 10px;
    color: var(--color-blanco-texto);
    transition: background-color .5s;
}

.container-preguntas label:hover {
    background-color: var(--bonton-azul-activo);
}

#pregunta1:checked~#collapse1,
#pregunta2:checked~#collapse2 {
    display: block;
}

/*  galeria */
.container-galeria {
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 30px 0px;
}

.grid-container {
    display: flex;
    justify-content: center;
    padding: 45px 0px;
}

.grid-galeria {
    display: grid;
    width: 100%;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}

.imagen-galeria {
    max-width: 90%;
    padding: 4px;
    background-color: var(--color-blanco-texto);
    border: 1px solid var(--color-gris-texto);
    border-radius: 10px;
}

/* para ver hasta 990px*/
@media (max-width:800px) {
    .grid-galeria {
        grid-template-columns: 90%;
    }
}

/* para ver mas de 990px*/

@media (min-width:801px) and (max-width:1200px) {
    .grid-galeria {
        grid-template-columns: 45% 45%;
    }
}

@media (min-width:1201px) {
    .grid-galeria {
        grid-template-columns: 23% 23% 23% 23%;
    }
}




/*  fin galeria */


/*  mapa imagenes criaderas y soleras    */
.container-soleras {
    background-color: #737373;
    padding: 40px 0px;
}

.centrado-solera {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

@media (max-width:800px) {
    .centrado-solera {
        display: none;
    }
}

#contenedor-soleras {
    width: 765px;
    height: 400px;
    background-image: url(/img/sprites/criaderas_soleras-bn.jpg);
    position: relative;
}

#contenedor-soleras div {
    position: absolute;
}

#primera-criadera {
    width: 720px;
    height: 110px;
    top: 260px;
    left: 40px;
}

#segunda-criadera {
    width: 715px;
    height: 110px;
    top: 143px;
    left: 40px;
}

#tercera-criadera {
    width: 715px;
    height: 110px;
    top: 28px;
    left: 40px;
}

#primera-criadera:hover {
    background: url(/img/sprites/criaderas_soleras.jpg) -40px 140px;
}

#segunda-criadera:hover {
    background: url(/img/sprites/criaderas_soleras.jpg) -40px -143px;
}

#tercera-criadera:hover {
    background: url(/img/sprites/criaderas_soleras.jpg) -40px -28px;
}

.container-text-soleras {
    width: 60%;
    margin: 10px auto;
}


/* fin mapa imagenes criaderas y soleras    */




/*  FOOTER   */
footer {
    padding-top: 80px;
    padding: 20px;
    margin-top: 40px;
    background-color: #212529;
    color: var(--color-blanco-texto);
    text-align: center;

}

/* FIN  FOOTER   */
.color-gris {
    color: var(--color-gris-texto);
}

.color-negro {
    color: var(--color-negro-fondo);
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}


/* mapa de vinos*/
.centrado-map {
    display: flex;
    justify-content: center;
    align-items: center;

}

.size-map {
    width: 100%;
}

.mapa-div {
    position: relative;
    width: max-content;
    text-align: center;
}

.mapa-div label {
    position: absolute;
    display: none;
    text-align: center;
    font-size: large;
    background-color: var(--color-azul-fondo);
    border-radius: 10px;
    padding: 20px 15px;
    width: fit-content;
    height: fit-content;
    top: 0px;
    left: 0px;
    padding: 5px;
    color: var(--color-negro-texto);
}

.map-vino-fino:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 170px;
    left: 30px;
}

.map-vino-amonillado:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 170px;
    left: 100px;
}

.map-vino-oloroso:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 170px;
    left: 300px;
}

.map-vino-palo-cortado:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 170px;
    left: 460px;
}

.map-vino-pale-cream:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 170px;
    left: 570px;
}

.map-vino-medium:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 490px;
    left: 20px;
}

.map-vino-cream:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 490px;
    left: 130px;
}

.map-vino-pedro-ximenez:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 490px;
    left: 290px;
}

.map-vino-moscatel:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 490px;
    left: 450px;
}

.map-vino-manzanilla:hover+label {
    display: inline-block;
    padding: 5px 15px;
    top: 490px;
    left: 620px;
}

.imagen-cabecera {
    background-image: url(/img/generosos02.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
}

.texto-cabecera-imagen {
    color: white;
    position: relative;
    top: 430px;
    text-align: center;
    font-size: large;
}


.texto-cabecera-imagen>.subtitulo {
    font-size: medium;
}


/*           sprite         */

.sprite-vino {
    margin: 0 auto;
    width: max-content;
}

.sprite-vino a {
    display: inline-block;
    width: 115px;
    height: 115px;
    margin: 10px;
}

.info {
    background-color: var(--color-azul-fondo);
    padding: 10px 15px;
    border-radius: 10px;
}

.info-1,
.info-2,
.info-3 {
    display: none;
    font-weight: bold;
    background-color: var(--color-azul-fondo);
    padding: 10px 15px;
    border-radius: 10px;
}

.sprite-vino a.barril {
    background: url(/img/sprites/css_sprites.png);
    background-position: 0px 0px;

}

.sprite-vino a.barril:hover {
    background: url(/img/sprites/css_sprites.png);
    background-position: 0px -120px;
}

.sprite-vino a.barril:hover~.info {
    display: none;
}

.sprite-vino a.barril:hover~.info-1 {
    display: block;
}

.sprite-vino a.botella {
    background: url(/img/sprites/css_sprites.png);
    background-position: -110px 0px;

}

.sprite-vino a.botella:hover {
    background: url(/img/sprites/css_sprites.png);
    background-position: -110px -120px;
}

.sprite-vino a.botella:hover~.info {
    display: none;
}

.sprite-vino a.botella:hover~.info-2 {
    display: block;
}

.sprite-vino a.otro {
    background: url(/img/sprites/css_sprites.png);
    background-position: -240px 0px;

}

.sprite-vino a.otro:hover {
    background: url(/img/sprites/css_sprites.png);
    background-position: -240px -120px;
}

.sprite-vino a.otro:hover~.info {
    display: none;
}

.sprite-vino a.otro:hover~.info-3 {
    display: block;
}


/*       FIN  sprite         */


/*       sprite botella andante        */

.sprite-botella {
    display: inline-block;
    background: url(/img/sprites/sprite-botella.png) no-repeat;
    width: 190px;
    height: 224px;
    background-position: 10px -18px;

}

/*con hover se activa la anumacion, que dura 0.750s cada paso y tiene 8 pasos*/
.sprite-botella:hover {
    animation: moveBoy 0.750s steps(12, end) infinite;
}

@keyframes moveBoy {
    from {
        background-position: 0px
    }

    /* configuro el final del sprite*/
    to {
        background-position: -2700px;
    }
}


/*       sprite botella andante        */



















/*  FIN mapa de vinos*/
/*
//////////////////////////////////////////////////
*/
/* Mapa D.O. en vinos tintos*/
/*
#mapa-do{
    width: 900px;
}
#mapa-do > img {
    position: relative;
    width: 900px;
}
#mapa-do:hover ul.cuadro li {
    display: block;
}
ul.cuadro li {
    list-style: none;
    display: none;
    position: absolute;
    border: medium solid rgb(102, 47, 47);
    
}
ul.cuadro li p {
    margin: 10px 0 0 0;
    padding: 0.3em;
    display: none;
    background: rgb(165, 86, 86);
    opacity: 0.85;
    position: absolute;
    top: 100%;
}
ul.cuadro li:hover p {
    display: block;
}
ul.cuadro li.nota1 {
    width: 140px;
    height: 110px;
    top: 700px;
    left: 480px;
}
ul.cuadro li.nota2 {
    width: 80px;
    height: 50px;
    top: 545px;
    left: 550px;
}
ul.cuadro li.nota3 {
    width: 90px;
    height: 50px;
    top: 580px;
    left: 480px;
}
ul.cuadro li.nota4 {
    width: 30px;
    height: 30px;
    top: 600px;
    left: 740px;
}
ul.cuadro li.nota5 {
    width: 40px;
    height: 35px;
    top: 560px;
    left: 680px;
}
.nota1:hover p {
    display: block;
    height: 50px;
    width: 140px;
    top: -10px;
    left: 150px;
}

.nota2:hover p {
    display: block;
    height: 30px;
    width: 130px;
    top: -10px;
    left: 85px;
}
.nota3:hover p {
    display: block;
    height: 80px;
    width: 100px;
    top: -10px;
    left: -120px;
}
.nota4:hover p {
    display: block;
    height: 80px;
    width: 100px;
    top: -10px;
    left: 35px;
}
.nota5:hover p {
    display: block;
    height: 80px;
    width: 120px;
    top: -110px;
    left: 20px;
}
.cuadro > li > p {
    color: rgb(255, 255, 255);
}

*/
/* FIN mapa D.O. en tintos*/



/* reserva nav*/

/*

@media (max-width:800px) {

    .nav {
    
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    .nav-list {
        display: none;
    }

    .toggle-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23px;
        height: 18px;
        position: relative;
        border: 0.8px solid #c3c1c1;
        border-radius: 10px;
        padding: 10px 15px;
        margin-right: 15px;
    }

    .bar {
        background-color: #9f9f9f;
        height: 1.5px;
        width: 100%;
    }

    #toggle:checked+.toggle-btn {
        border: 4px solid #8e8b8b;
    }

    .nav-list li a {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #9c9999;
        transition: background-color 0.3s ease;
    }

    .nav-list li:first-child a {
        color: black;
    }

    .nav-list li a:hover {
        background-color: #f0f0f0;
    }

    #toggle:checked~.nav-list {
        height: 200px;
        pointer-events: auto;
        position: absolute;
        top: 65px;
        left: 0;
        background-color: #fff;
        padding: 10px;
        width: 500px;
        overflow: hidden;
        transform: translateY(0%);
        transition: max-height 0.5s ease;
        margin-top: 10px;
        display: inline-block;

    }
}

*/