:root {
    /* variables colores para el uso en la web*/
    --color-negro-fondo: #212529;
    --color-blanco-texto: #F8F9FA;
    --color-gris-texto: #737373;
    --color-azul-fondo: #cfe2ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1{
    font-weight:lighter;
    font-size: 4em;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*  migas de pan  */
.container{
    margin-left: 0px;
    font-weight:lighter;
    font-size: 1rem;
}
ol.migas{
    display: flex;
    list-style-type: none;
    margin-left: 12px;
    padding-left: 0px;
    color: var(--color-gris-texto);
}
ol.migas > li::after{
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
}
ol.migas > li:last-child::after{
    content: "";
}
ol.migas > li > a{
    color: blue;
}


/* NAVEGACION */
.nav {
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 13px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.nav-list>li>a {
    font-size: 15px;
    text-decoration: none;
    padding: 8px;
}

.nav>ul>li {
    display: inline;
}

/* FIN NAVEGACION */

/*  lista indice  */
.container-indice{
    width: 380px;
    text-align: center;
    margin: 0 auto;
}
.lista-indice-ul{
    list-style-type: none;
    margin-top: 40px;
}
.lista-indice{
    text-decoration: none;
    color: var(--color-gris-texto);
}   
.lista-indice-ul > li {
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
.primer-indice{
    /*background-color: var(--color-azul-fondo);*/
}

.container-center{
    margin: 0 auto;
}
.lista-indice-ul > li:hover{
    background-color: var(--color-azul-fondo);
    /*
    background-color: rgb(226, 226, 226);*/
}
/*   generales    */
.container-general{
    width: 90%;
    margin-top: 45px;
    margin: 0 auto;
    text-align: center;
}

.container-preguntas{
    width: 80%;
    height: 130px;
    margin: 40px auto;
    text-align: center;

}
.margin-superior{
    padding: 40px;

}

/*    desplegables       */

#collapse1{
    display: none;
    background-color: lightblue;
    padding: 20px 5px;
    border-radius: 10px;
}
#collapse2{
    display: none;
    background-color: lightblue;
    padding: 20px 5px;
    border-radius: 10px;
}
#pregunta1, #pregunta2{
    background-color: var(--color-azul-fondo);
    padding: 10px 20px;
    width: max-content;
    display: inline;
    border-radius: 10px;
}
/*
#pregunta2{
    background-color: var(--color-azul-fondo);
    padding: 10px 20px;
    width: max-content;
    display: inline;
    border-radius: 10px;
}*/

#pregunta1:hover ~ #collapse1{
    display: block;
}
#pregunta2:hover ~ #collapse2{
    display: block;
}


/*  FOOTER   */
footer {
    padding-top: 80px;
    padding: 20px;
    background-color: #212529;
    color: var(--color-blanco-texto);
    text-align: center;

}

/* FIN  FOOTER   */
.color-gris {
    color: var(--color-gris-texto);
}

.color-negro {
    color: var(--color-negro-fondo);
}

.text-center{
    text-align: center;
}
.center{
    margin: 0 auto;
}


/* mapa de vinos*/
.centrado-map{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
.mapa-div{
    position: relative ;
    width: max-content; 
    text-align: center;
}
label {
    position: absolute;
    display: none;
    text-align: center;
    font-size: large;
    background-color: azure;
    width: fit-content;
    height: fit-content;
    top: 0px;
    left: 0px;
    padding: 5px;
}

.map-vino-fino:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 30px;
}
.map-vino-amonillado:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 100px;
}
.map-vino-oloroso:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 300px;
}
.map-vino-palo-cortado:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 460px;
}
.map-vino-pale-cream:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 170px;
    left: 570px;
}
.map-vino-medium:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 20px;
}
.map-vino-cream:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 130px;
}
.map-vino-pedro-ximenez:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 290px;
}
.map-vino-moscatel:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 450px;
}
.map-vino-manzanilla:hover + label {
    display: inline-block;
    border: 2px solid black;
    top: 490px;
    left: 620px;
}

.imagen-cabecera{
    background-image: url(/img/bodega2.jpeg);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size:cover;
    height: 500px;
}

.texto-cabecera-imagen{
    color: white;
    position: relative;
    top: 430px;
    text-align: center;
    font-size: large;
}


.texto-cabecera-imagen > .subtitulo{
    font-size: medium;
}


/*           sprite         */

.sprite-vino{
    margin: 0 auto;
    width: max-content;

}

.sprite-vino a{
    display: inline-block;
    width: 115px;
    height: 115px;
    margin: 10px;
    


    /* Tiempo que dura la transición 
    -o-transition: all .5s;*/
    /* Firefox 
    -webkit-transition: all .5s;
    */
    
}
.info{
    background-color: var(--color-azul-fondo);
    padding: 10px 15px;
    border-radius: 10px;
}
 .info-1, .info-2, .info-3{
    display: none;
    font-weight: bold;
    background-color: var(--color-azul-fondo);
    padding: 10px 15px;
    border-radius: 10px;
}
.sprite-vino a.barril{
    background: url(/img/sprites/css_sprites.png);
    background-position: 0px 0px;

}

.sprite-vino a.barril:hover{
    background: url(/img/sprites/css_sprites.png);
    background-position: 0px -120px;
}
.sprite-vino a.barril:hover ~ .info{
    display: none;
}
.sprite-vino a.barril:hover ~ .info-1{
    display: block;
}
.sprite-vino a.botella{
    background: url(/img/sprites/css_sprites.png);
    background-position: -110px 0px;

}
.sprite-vino a.botella:hover{
    background: url(/img/sprites/css_sprites.png);
    background-position: -110px -120px;
}
.sprite-vino a.botella:hover ~ .info{
    display: none;
}
.sprite-vino a.botella:hover ~ .info-2{
    display: block;
}

.sprite-vino a.otro{
    background: url(/img/sprites/css_sprites.png);
    background-position: -240px 0px;

}
.sprite-vino a.otro:hover{
    background: url(/img/sprites/css_sprites.png);
    background-position: -240px -120px;
}
.sprite-vino a.otro:hover ~ .info{
    display: none;
}
.sprite-vino a.otro:hover ~ .info-3{
    display: block;
}


/*       FIN  sprite         */


/*       sprite botella andante        */

.sprite-botella {
    display: inline-block;
    background: url(/img/sprites/sprite-botella.png) no-repeat;
    width: 190px;
    height: 224px;
    background-position: 10px -18px;
    
}
/*con hover se activa la anumacion, que dura 0.750s cada paso y tiene 8 pasos*/
.sprite-botella:hover{
    animation: moveBoy 0.750s steps(12, end) infinite;
}

@keyframes moveBoy {
    from {
        background-position: 0px
    }
    /* configuro el final del sprite*/
    to {
        background-position: -2700px;
    }
}


/*       sprite botella andante        */



















/*  FIN mapa de vinos*/
/*
//////////////////////////////////////////////////
*/
/* Mapa D.O. en vinos tintos*/
/*
#mapa-do{
    width: 900px;
}
#mapa-do > img {
    position: relative;
    width: 900px;
}
#mapa-do:hover ul.cuadro li {
    display: block;
}
ul.cuadro li {
    list-style: none;
    display: none;
    position: absolute;
    border: medium solid rgb(102, 47, 47);
    
}
ul.cuadro li p {
    margin: 10px 0 0 0;
    padding: 0.3em;
    display: none;
    background: rgb(165, 86, 86);
    opacity: 0.85;
    position: absolute;
    top: 100%;
}
ul.cuadro li:hover p {
    display: block;
}
ul.cuadro li.nota1 {
    width: 140px;
    height: 110px;
    top: 700px;
    left: 480px;
}
ul.cuadro li.nota2 {
    width: 80px;
    height: 50px;
    top: 545px;
    left: 550px;
}
ul.cuadro li.nota3 {
    width: 90px;
    height: 50px;
    top: 580px;
    left: 480px;
}
ul.cuadro li.nota4 {
    width: 30px;
    height: 30px;
    top: 600px;
    left: 740px;
}
ul.cuadro li.nota5 {
    width: 40px;
    height: 35px;
    top: 560px;
    left: 680px;
}
.nota1:hover p {
    display: block;
    height: 50px;
    width: 140px;
    top: -10px;
    left: 150px;
}

.nota2:hover p {
    display: block;
    height: 30px;
    width: 130px;
    top: -10px;
    left: 85px;
}
.nota3:hover p {
    display: block;
    height: 80px;
    width: 100px;
    top: -10px;
    left: -120px;
}
.nota4:hover p {
    display: block;
    height: 80px;
    width: 100px;
    top: -10px;
    left: 35px;
}
.nota5:hover p {
    display: block;
    height: 80px;
    width: 120px;
    top: -110px;
    left: 20px;
}
.cuadro > li > p {
    color: rgb(255, 255, 255);
}

*/
/* FIN mapa D.O. en tintos*/